
@use 'src/styles/vars';


.training-comments{
        width: 100%;
        max-width: 750px;
        margin-top: -2em;
        overflow-y:auto;
        &::-webkit-scrollbar {
            width: 4px;              
        }
          
        &::-webkit-scrollbar-track {
            background: vars.$mainColor;       
          }
          
        &::-webkit-scrollbar-thumb {
            background-color: vars.$optionColor;   
        }

    &-card{
        box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
        display: flex;
        margin: 1.5em;
        padding: 1em;
        font-size: 80%;
        p{
            margin-left: 1em;
            
        }
        &-content{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
            
            &-date{
                font-size: 80%;
            }
        }
        
    }
}

.training-new-comment{

    display: flex;
    align-items: center;
    width : 100%;
    max-width : 750px;
   
    padding:1em;
    transition: 0.3s;
    position: relative;
    transition-timing-function: cubic-bezier(.34,.54,.42,1.26);
    &--open{
        height: 20%;
        margin-bottom: 2em;
        opacity: 100;
    }
    &--close{
        height: 0%;
        opacity: 0;
        transform: scale(0);
    }
    
}





.training-details{
    display: flex;
    justify-content: center;
    width: 80%;
    max-width : 1000px;

&-group-line{
    display: flex;
    width: 100%;
    align-items: center;   
}

&-button{
    transition :transform  0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    color:black;
&--open{
    transform: scale(1.5) !important ;
    }
}
&-description{
    // border : vars.$optionColor 1px solid;
    // background: vars.$mainColor;
    min-height : 10em;
    p{
        margin : 1em;
        max-width: 95%;
       
    }

}

 &-group-block{
    position: relative;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
    display: flex;
    flex-direction: column;
    margin: 1em;
    width: 90%;
    max-width: 500px;
    
 }

&-level{
    display:flex;
    align-items: center;
    position:absolute;
    bottom: 45px;
    right:10px;
    color: vars.$mainColor;
    *{
        font-size: 12px;
    }
}

&-coach{
    display: flex;
    align-self: flex-start;
    p{
        color: vars.$mainColor;
        padding-left : 0.5em;
    }
    padding: 0.2em;
   
}

 &-group-aside{
    position: relative;
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border:vars.$mainColor 2px solid;
    margin : 1em 1em;
    padding:0.5em;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

&-button-edit{
    position: absolute;
    right : 10px;
    bottom: 10px;
}

&-button-supress{
    position :absolute;
    right : 10px;
    bottom: 60px;
}

&-button-back{
  position: absolute;
  left : -60px;
}

&-header{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1em;
    position: absolute;
    z-index: 1;
    width: 100%;
    color: white;
    font-size: 1.3em;
    span{
        display: flex;
        font-size: 0.8em;
    }
    .custom-level{
        text-align: right;
        svg{
        font-size: 1.5em;
        }
    }   
}

&-category{
    background-color: rgba(0, 0, 0, 0.616);
    width: fit-content;
    padding: 0.3em 1em;
    color: white;
    position: absolute;
    bottom : 15px;
    left : 15px;
    font-size: 1.2em;
}
&-sport{
    font-size: 1.2em;
    font-weight: bold;
    margin:1em;
    margin-left:2em;
    padding-bottom: 0.2em;
    border-bottom: vars.$optionColor 1px solid;
    width: 50%;
}

&-title{
    font-size: larger;
    font-weight: bolder;
}

&-picture{
    display: flex;
    justify-content: center;
    position : relative;
    img{
        border-radius: 0;
        height : 20vh;
        width: 100%;
        object-fit: cover;
        }
    }
}


@media (max-width: 800px) {
    
    
    .training-details{
        font-size: 80%;
        flex-direction: column;
        align-items: center;
        
        &-group-aside{
            margin:0;
        }
        &-coach{
               display:none;
        }
        &-button-supress{
            
            right : 50px;
            bottom: 10px;
            width :30px;
            height : 30px;
        }
        &-button-edit{
            width :30px;
            height : 30px;
        }
        &-button-back{
            width :30px;
            height : 30px;
            left:-45px;
        }
    }

    div.training-details-header{
            font-size: 1.1em;
    }

}

  @media (min-width: 800px) {
   
}