@use 'src/styles/vars';

.usermenu{
    text-align: right;
    margin-left: auto;
    padding-right: 1em;
    width : fit-content;
    display: flex;
    flex-direction: column; 
    align-self: flex-end;
    background-color: vars.$mainColor;
    border-radius: 0 0 10px 10px;
    transition: 1s;
    a{
        color : white;
        padding: 0.5em;
    }
    &--close{
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
    }
    
}

