@use 'src/styles/vars';

.dropmenu-user{
    text-align: right;
    right : 0;
    &--hidden{
        transform: translate(0%, -100%);
    }
    button{
        background-color: white;
        font-weight: normal;
    }
    .navbar-deconnect-button{
        width: fit-content;
        text-align: right;
        align-self: flex-end;
        border-radius: 10px;
        margin-top: 0.5em;

        &:hover{
            background-color: white;
            text-decoration: underline;
        }
    }
}

