@use 'src/styles/vars';

@keyframes scrollUp {

    40% {
        transform : translateX(-300%);
    }
    41%{
        display:none;
    }
    42%{
        transform: translateX(300%);
    }
    43%{
        display: flex;
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes scrollDown {

    40% {
        transform : translateX(300%);
    }
    41%{
        display:none;
    }
    42%{
        transform: translateX(-300%);
    }
    43%{
        display: flex;
    }
    100%{
        transform: translateX(0%);
    }
}

.trainings {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-bottom: 1em;
    position : relative;
    &--pageup{
        animation: scrollUp;
        animation-duration: 1s;
    }
    &--pagedown{
        animation: scrollDown;
        animation-duration: 1s;
    }
}

.main-content-trainings{
    display: flex;
    flex-direction: column;
}

.training-card-category{
    position: absolute;
    top:30%;
    color: white;
    width:50%;
    height:10%;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.5)
}

div.MuiCard-root.training-card {
    border-radius: 0;
    margin: 1em ;
    width: 300px;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
    position : relative;
    transition: transform 0.1s;
    .custom-note svg{
        font-size: 12px;
        color:vars.$mainColor;
    }
    .custom-level svg{
        font-size: 14px;
        // color:vars.$mainColor;
    }
    &:hover{
        transform: scale(1.02);
    }
}

div.MuiCardContent-root.description-card {
    height: 60px;    
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;

    
}

div.MuiCardContent-root.footer-card {
    display: flex;
    justify-content: space-around;
    padding: 5px 3px;
    border-top: black solid 1px;
}


@media (max-width: 450px) {
    .trainings {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 757px;
    }

}

.trainings-pagination{

    margin-bottom: 3em;

}
