@use 'src/styles/vars';

.trainnings {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-bottom: 10em;
}

.trainings-header{
    display: flex;
    align-items: center;


}


div.MuiCard-root.trainning-card {
    margin: 1em ;
    max-width: 300px;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

div.MuiCardContent-root.description-card {
    height: 60px;    
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;

}

div.MuiCardContent-root.footer-card {
    display: flex;
    justify-content: space-around;
    padding: 5px 3px;
    border-top: black solid 1px;
}


@media (max-width: 450px) {
    .trainnings {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 757px;
    }

}
