
.trainings-home {
    margin-top: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    // box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
   
}

.training-home {
    height: 12vh;
    overflow: hidden;
    li{
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &:hover{
        transform: scale(1.01) !important;
        cursor: pointer;

    }
   
}

.training-home-title{
    margin-left: 1em;
    
   
}

span.training-home-name{
    font-size: 1.2em;
    text-align: center;
}


.training-home-text {
    display: block;
    text-align: justify;
    margin-left: 1em;
    font-size: 1em;
    

}

.training-home-title .MuiListItemText-primary{
    font-size: 0.7em;
}

.training-home-avatar div{
    width: 60px;
    height: 60px;
}

