
.trainings-home {
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: fit-content;
}

.training-home-title{
    margin-left: 1em;
}

span.training-home-name{
    font-size: 1.2em;
}


.training-home-text {
    text-align: justify;
    margin-left: 5vw;
    font-size: 1em;
}

.training-home-title .MuiListItemText-primary{
    font-size: 0.7em;
}

.training-home-avatar div{
    width: 80px;
    height: 80px;
}

@media (max-width : 450px) {
    
    .training-home-avatar div{
        width: 60px;
        height: 60px;
    }
    
}