@use 'src/styles/vars';

.navbar {
    position :relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border : vars.$mainColor 4px solid;
    padding: 1em 1em;
    z-index: 100;
    .navbar-drop-button{
        background-color: vars.$mainColor;
        border-radius: 50%;
        height : 40px;
        width: 40px;
        object-fit: cover;
    }
    .header-logo{
        width: 80px;
    }
    &-linkgroup{
        display: flex;
        justify-content: space-around;
        width : 600px;
        align-items: flex-start;
        padding: 1em;
        }
    a{
        color : vars.$mainColor;
        &:hover{
            color : vars.$mainColor;
            text-decoration: underline;
        }
    }
    button{
        border : 0;
        background-color: transparent;
    }
    .user-avatar{
        height : 40px;
        width: 40px;
        object-fit: cover;
        border-radius: 50%;
        }
}

@media (max-width: 450px) {
    
    .navbar-linkgroup {
      display : none;
    }

    .usermenu{
        width: 100vw;
    }
    
    
  }

  @media (min-width: 450px) {
    
   .navbar-drop-button{
       
       display : none;
   }
    
  }