@use 'src/styles/vars';

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border : vars.$mainColor 4px solid;
    padding: 0.5em 1em;
    z-index: 100;
    .header-logo{
        width: 80px;
    }
    &-linkgroup{
        display: flex;
        justify-content: space-around;
        width : 600px;
        align-items: flex-start;
        padding: 1em;
        }
    a{
        color : vars.$mainColor;
    }
    button{
        border : 0;
        background-color: transparent;
    }
    .user-avatar{
        height : 40px;
        width: 40px;
        object-fit: cover;
        border-radius: 50%;
        }
}