@use 'src/styles/vars';
@use 'src/styles/motion';


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: vars.$mainColor 4px solid;
    padding: 0.2em;
    z-index: 5;

    .navbar-button-navdrop{
        margin-left : 1em;
    }

    .navbar-button-avatar{
        margin-right : 1em;
    }

    
    .header-logo {
        width: 150px;
        margin-left: 1em;
        filter: contrast(60%) blur(0.15px);
    }

    &-linkgroup {
        display: flex;
        justify-content: space-around;
        width: 600px;
        align-items: flex-start;
        padding: 1em;
        flex-grow: 1;
    }

    a {
        text-decoration: none;
        color: vars.$mainColor;
        margin : 0em 1em;

        &:hover {
            color: vars.$mainColor;
            text-decoration: underline;
        }
    }

    .user-avatar {
        width:100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    &-buttongroup-unconnect{
        display: flex;
        flex-grow: 0;
        width: fit-content;
    }


}