
.carousel{
    margin: auto;
    height: 80vh;
    width: 100vw;
    position: relative;
    &-image{
        width : 90vw;
        margin: auto;
    }
    &-button{
        border : 0;
        background-color: transparent;
        // position: fixed;
        z-index: 1000;
        &-left{
            left : -50px;
            transform: translateY(280%);
        };
        &-right{
            right : -50px;
            transform: translateY(-350%);
        }
    }
}
