
.carousel{
    margin: auto;
    height: 50vh;
    width: 65vh;
    position: relative;
    &-button{
        border : 0;
        background-color: transparent;
        position: absolute;
        z-index: 5;
        &-left{
            left : -50px;
            transform: translateY(280%);
        };
        &-right{
            right : -50px;
            transform: translateY(-350%);
        }
    }
}
