@use 'src/styles/vars';

   .trainnings {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }


.trainning-card {
    margin: 2em;
    margin-top : -3em;
    width : 350px;
}

.description-card {
    height: 51px;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    padding: 0% !important;
}

.footer-card {
    display: flex;
    justify-content: space-around;
    padding: 5px !important;
    border-top: black solid 1px;
}

p {
    height: 50px;
}

@media (max-width: 450px) {
    .trainnings {
        display: flex;
        flex-direction: column;
    }
}
