.training-edit{
    &-pop{
        div{
            margin : 0.2em 0.5em;
        }
    }
    &-header{
        &-avatar{
            position:relative;
            div{
                width: 100%;
                height : 15vh;
                object-fit: cover;
                border-radius: 0;
                margin : 0.5em
            }
            label{
                position : absolute;
                top : 1rem;
                right : 1rem;
            }
        }
    }
    div &-form-multi{
        margin-top: 1em;
    }
}

@media (max-width : 500px) {
    h2.training-edit-title{
            font-size: 1.1em;
            padding: 0.5em 2em;
    }
    .training-edit-pop{
        div{
            font-size: 95%;
        }
    }
    div.training-edit-content{
       padding-bottom: 0.5em;
    }
}