@use 'src/styles/vars';

.card-group {
    display: flex;
    justify-content: space-evenly;
}

.header-category {
    margin-bottom: 2em;  
}

.content-header {
    background-color: vars.$mainColor !important;
}

.content-extra {
    display: flex;
    justify-content: space-between;
}

.meta {
    font-weight: bold;
    color: blue !important;
}