@use 'src/styles/vars';

.footer{

    background-color: vars.$backColor;
    text-align: right;
    width: 100vw;
    max-width: 1920px;
    bottom: 0;
   
    // border : vars.$mainColor 4px solid;
    padding: 0.3em 0em;
    z-index: 2;
    a{
        color : vars.$mainColor;
        padding:  0.5em;
        padding-right : 1em;
        height: fit-content;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }
}