.categories{

    margin : auto;
    margin-top: 6em;
    width : 80vw;
    max-width: 1800px;
    
}

.main-content{
    display: flex;
    flex-direction: column;
}

.slick-slider{
    height: 40vh;
}

