
@keyframes fade_out {
    0%{
        opacity: 100%;
    }
    
    99%{
        opacity:0;
        left:0;
    }
    100%{
        left:120vw;
    }
}



.loader.loader-main{
    position : fixed;
    width : 100vw;
    height : 100vh;
    top : 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: black;
    z-index: 5;
    padding: 2em;
    
   
    &--true{
        left: 0;
        opacity: 100%;
    }
    &--false{
        animation: fade_out 0.5s forwards;
    }
}

.loader-main-logo{
   width : 150px;
   filter: invert(100%);
   margin-left: 2em;
   padding-bottom: 0.5em;
}