.app{
    background-color:#d8d8d8;
    max-width: 1920px;
}

@media (max-width: 450px) {
    
    .navbar-linkgroup {
      display : none;
    }
    .dropmenu{
        width : 100vw;
        text-align: center; 
    }
  }

  @media (min-width: 450px) {
   .navbar-drop-button{
       display : none;
   }  
  }