@use 'src/styles/vars';

button{
    background-color: transparent;
    border:0;
}

.app{
    max-width: 1920px;
    min-height: 100vh;
    width: 100vw;
    margin: auto;
    background-color: vars.$backColor;
    position : relative;
    top : 60px;
    overflow: hidden;
    &-header{
        position: fixed;
        top: 0;
        width: 100vw;
        max-width: 1920px;
        z-index: 3;
    }
    
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title{
        font-size: larger;
        font-weight: bolder;
        color: vars.$backColor;
        background: vars.$mainColor;
        padding : 0.5em 2em;
        width: 100%;
    
    }
    &-form{
        display: flex;
        flex-direction: column;
        &>*{
        min-width : 100px;
        width : 50vw;
        max-width: 600px;
        margin : 0.5em 0em !important;
        }
        
    }
    
    &-picture{
        margin-top: 1em !important;
        display: flex;
        justify-content: center;
        position : relative;
        div{
            border-radius: 0;
            height : 15vh;
            min-width : 100px;
            width : 50vw;
            max-width: 600px;
            }
    
        label{
            position: absolute;
            bottom : 10px;
            right : 10px;
        }
        
    }
    &>*{
        
    }
}


body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: vars.$mainColor;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: vars.$backColor;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid vars.$mainColor; ;  /* creates padding around scroll thumb */
  }

@media (max-width: 450px) {
    
    .navbar-linkgroup {
      display : none;
    }
    .dropmenu{
        width : 100vw;
        text-align: center; 
    }
    .navbar .header-logo{
        width: 120px
    }       
   
  }

  @media (min-width: 450px) {
   button.navbar-button-navdrop{
       display : none;
   }  
   
  }
  
  a{
      text-decoration: none;
      &:hover{
          text-decoration: underline;
      }
  }