@use 'src/styles/vars';

button{
    background-color: transparent;
    border:0;
}

.app{
    max-width: 1920px;
    height: 100vh;
    width: 100vw;
    margin: auto;
    background-color: white;
    top : 60px;
    overflow-y: hidden;
    &-header{
        width: 100vw;
        max-width: 1920px;
        position: relative;
        z-index: 2;
    }
    
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    height: calc(100Vh - 90px);
}


body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: vars.$mainColor;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: white;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid vars.$mainColor; ;  /* creates padding around scroll thumb */
  }

@media (max-width: 450px) {
    
    .navbar-linkgroup {
      display : none;
    }
    .dropmenu{
        width : 100vw;
        text-align: center; 
    }
    .navbar .header-logo{
        width: 120px
    }       
   
  }

  @media (min-width: 450px) {
   button.navbar-button-navdrop{
       display : none;
   }  
   
  }
  
  a{
      text-decoration: none;
      &:hover{
          text-decoration: underline;
      }
  }